In [1]:
!pip install langdetect

Requirement already satisfied: langdetect in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (1.0.9)
Requirement already satisfied: six in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from langdetect) (1.15.0)

In [41]:
pip uninstall tika -y

Found existing installation: tika 2.6.0
Uninstalling tika-2.6.0:
  Successfully uninstalled tika-2.6.0
Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install tika

Collecting tika
  Using cached tika-2.6.0-py3-none-any.whl
Requirement already satisfied: setuptools in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from tika) (52.0.0.post20210125)
Requirement already satisfied: requests in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from tika) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2020.12.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (1.26.4)
Installing collected packages: tika
Successfully installed tika-2.6.0
Note: you may need to restart the kernel to use updated packages.

Lang Detection -- Google

In [1]:
#importing libraries
import pandas as pd
from langdetect import detect_langs, LangDetectException

#To get consistent results, calling the following code before the first language detection
from langdetect import DetectorFactory
DetectorFactory.seed = 0

In [2]:
#reading in data to a df 
df = pd.read_csv('/Users/taniadawood/Desktop/DSCI550-PixstoryMediaExtractionAndAnalysis/Datasets/Master_Dataset_Raw_LangDetect.csv')

In [3]:
#helps my Tika server run 
from tika import parser
parsed = parser.from_buffer('str')

In [4]:
parsed

{'metadata': {'X-TIKA:Parsed-By': ['org.apache.tika.parser.DefaultParser',
   'org.apache.tika.parser.csv.TextAndCSVParser'],
  'X-TIKA:Parsed-By-Full-Set': ['org.apache.tika.parser.DefaultParser',
   'org.apache.tika.parser.csv.TextAndCSVParser'],
  'X-TIKA:content_handler': 'ToTextContentHandler',
  'Content-Encoding': 'ISO-8859-1',
  'X-TIKA:parse_time_millis': '169',
  'X-TIKA:embedded_depth': '0',
  'Content-Length': '3',
  'Content-Type': 'text/plain; charset=ISO-8859-1'},
 'content': '\n\n\n\n\n\n\n\n\nstr\n',
 'status': 200}

In [5]:
df.head(1)

,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,Account Created Date,Date (No Timestamp),Interest
0,121169,STY1659426957,103,USR1606807023,female,34,Trend of the Year: Barbiecore,"The colour of the year is here, and it's *drum...",https://image.pixstory.com/Pixstory-image-1659...,2020-01-12 12:47:00,2020-01-12,"trends, fashion, barbie"

In [6]:
#changing narrative column to type string to avoid errors while using lang detect 
df['Narrative'] = df['Narrative'].astype(str)

In [7]:
#defining a function to detect language and handle exceptions
def detect_language(Text):
    if not Text:
        return 'n/a'
    else:
        try:
            return detect_langs(Text)
        except LangDetectException:
            return 'unknown'

In [8]:
#applying lang detect function
df['Narrative LangDetect'] = df['Narrative'].apply(detect_language)

In [9]:
df.sample(5)

,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,Account Created Date,Date (No Timestamp),Interest,Narrative LangDetect
35809,116542,STY1657964510,23748,USR1642618401,male,26,Koulibaly al Chelsea il comunicato del Napoli,"""Kalidou,\nabbiamo trascorso insieme 8 stagion...",https://image.pixstory.com/Pixstory-image-1657...,2022-01-20 00:23:21,2022-01-20,"Sports, sport, calcio, calciomercato, serie a,...",[it:0.9999958074692731]
21488,149559,STY1664217353,11859,USR1638425715,male,21,Gauhati University Assam recruitment: Teaching...,"<p dir=""ltr"">Gauhati University Assam recruitm...",https://image.pixstory.com/Pixstory-image-1664...,2021-12-02 11:45:15,2021-12-02,"Technology, History, Food, Entertainment, Spor...",[en:0.9999940596691582]
2754,89265,STY1648058165,472,USR1612356664,male,22,How Sri Lanka is going out of its way to get i...,"A little over a week back, Sri Lanka President...",https://image.pixstory.com/Pixstory-image-1648...,2021-02-03 18:21:04,2021-02-03,"sri lanka, gotabaya rajapaksa, economic crisis...",[en:0.9999978396056868]
26717,81358,STY1644846567,19480,USR1641927505,male,21,Lo scintillio di Area,Area è un brand emergente newyorkese fondato n...,https://image.pixstory.com/Pixstory-image-1644...,2022-01-12 00:28:25,2022-01-12,"area, new york fashion week, fashion, fashion ...",[it:0.999996491761932]
86321,136940,STY1662269003,86282,USR1662268871,NaN,29,Lord Kanha ❤️,"<p dir=""ltr"">Lord Kanha &#10084;&#65039;</p>",https://image.pixstory.com/Pixstory-image-1662...,2022-09-04 10:51:11,2022-09-04,"Technology, History, Food, Entertainment, Spor...","[af:0.714282910059934, id:0.14285868531136864,..."

Lang Detection -- Tika

In [11]:
pip install tika

Requirement already satisfied: tika in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (2.6.0)
Requirement already satisfied: requests in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from tika) (2.26.0)
Requirement already satisfied: setuptools in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from tika) (52.0.0.post20210125)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/taniadawood/opt/anaconda3/lib/python3.8/site-packages (from requests->tika) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import tika

In [11]:
from tika import language

In [12]:
df['Narrative TikaDetect'] = df['Narrative'].apply(lambda x: language.from_buffer(x, requestOptions={'timeout': 500}))

In [13]:
df.sample(5)

,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,Account Created Date,Date (No Timestamp),Interest,Narrative LangDetect,Narrative TikaDetect
77063,127175,STY1660559593,74001,USR1660559412,male,23,College life,Great day and one of the most fun nights of my...,https://image.pixstory.com/Pixstory-image-1660...,2022-08-15 16:00:00,2022-08-15,"playing sports, clubbing",[en:0.9999956690727475],en
60154,106505,STY1654952195,37241,USR1652794310,NaN,20,Story of Vipin Khadse .,"Vipin Khadse, a final-year medical student, as...",https://image.pixstory.com/Pixstory-image-1654...,2022-05-17 19:01:50,2022-05-17,"#heros, #doctor, #birth, #bravery",[en:0.9999975266044834],en
17020,146617,STY1663688512,11045,USR1637258628,others,22,Priyanka Chopra Jonas shares pictures of daugh...,"<p dir=""ltr"">She shared two picture of herself...",https://image.pixstory.com/Pixstory-image-1663...,2021-11-18 23:33:48,2021-11-18,"Technology, History, Food, Entertainment, Spor...",[en:0.9999942752544623],en
61297,102384,STY1653445326,39235,USR1653424345,female,40,My heart... the reason for everything that I d...,nan,https://image.pixstory.com/Pixstory-image-1653...,2022-05-25 02:02:25,2022-05-25,hanging out!,[tl:0.9999985360616094],tl
73769,144523,STY1663345704,70960,USR1660229141,NaN,32,Take a trip down the memory lane ... Tera musk...,"<p dir=""ltr"">Remember the days when you used t...",https://image.pixstory.com/Pixstory-image-1663...,2022-08-11 20:15:41,2022-08-11,"bollywood music, hindi songs, music",[en:0.9999983711031847],en

In [14]:
df.to_csv('Master_Dataset_Raw_LangDetect_Complete.csv', index=False)